<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blinch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7575C9141CBD05B4001564FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB586F7D1A173F8200E8D00E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB586F961A173F8200E8D00E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
